<%- model_class = User -%>

<h1>New User</h1>
<ul class="breadcrumb">  
	<li><a href="#">Home</a> <span class="divider">></span></li>  
	<li><a href="#">Admin</a> <span class="divider">></span></li>  
	<li><%= link_to "Users", users_path %> <span class="divider">></span>  </li>  
	<li class="active">New</li>  
</ul>


<%= render :partial => 'form' %>
