<table class="table table-condensed table-hover" style="width: 1px; white-space: nowrap;">
	<thead>
      <tr>
        <th>Tags</th>
		<th>Delete&nbsp;&nbsp;</th>
	  </tr>
	</thead>
	<tbody>
  		<%= f.fields_for(:tags) do |tags_form| %>
		<tr>
      		<td>
				&nbsp;&nbsp;
				<% if tags_form.object.new_record? %>
					<%= tags_form.collection_select(:tag_group_id, TagGroup.all, :id, :name, options={:prompt => ':: Add Tag ::'}) %>					
				<% else %>
					<%= tags_form.collection_select(:tag_group_id, TagGroup.all, :id, :name, {}, {:disabled => "disabled"} ) %>
				<% end %>
				&nbsp;&nbsp;
			</td>
      		<td>
				&nbsp;&nbsp;
				<%=  unless tags_form.object.new_record?
             		tags_form.check_box('_destroy') #+ tags_form.label('_destroy','Remove')
           		end %>
				&nbsp;&nbsp;
			</td>
		</tr>
  		<% end %>	  
	</tbody>
</table>	


